
#container
{
	margin-left: 7em;
	margin-right: 7em;
	margin-top: 3em;
}

p{
 display:inline;
 padding-left: 48px;
 padding-top: 11px;
}


#heading
{
	padding-top: 15px;
	padding-bottom: 20px;
	color: #E4480F;
	font-weight: bold;
	text-align: center;
}


.col-md-8
{
	height: 800px;
	color: white;
	text-align: center;
	background-color: transparent;
}


#group-form
{
	margin-left: 11em;
	background-color: #C5C3C2;
	padding: 24px 23px 20px 32px;
	border-radius: 10px;
	height: 430px;
	width: 440px;
	color: black;
}

#creategrpbtn
{
	margin-top: 0px;
}

#name{
	display: -webkit-inline-box;
	float: left;
	margin: 0px;
}
#type{
	clear: both;
	float: left;
	display: -webkit-inline-box;
	margin-top: 10px;
	margin-left: 2px;
}
#type_choice{
	text-align: justify;
}
#descr{
	clear: both;
	float: center;
	display: inline-block;
	margin-top: 10px;
}
#text_area{
	padding-top: 15px;
}


#footer
{
	color: white;
	margin-top: 59px;
}
