p{
 display:inline;
 padding-left: 48px;
 padding-top: 11px;
}


#heading
{
	padding-top: 15px;
	padding-bottom: 20px;
	color: #E4480F;
	font-weight: bold;
	text-align: center;
}
#nav
{
	background-color: #DA4813;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;

}

#headLinks > li > a 
{
color: white;
}

#createG
{

	float: center;
  text-align: center;
  padding-left: 10px;
  margin-right: 60px;
  

}

#group-form
{
	margin-left: 32em;
	background-color: #C5C3C2;
	padding: 24px 23px 20px 32px;
	border-radius: 10px;
	height: 120px;
	width: 440px;
}

#creategrpbtn
{
	margin-top: 0px;
}

#name{
	display: -webkit-inline-box;
	float: left;
	margin: 0px;
}
#type{
	clear: both;
	float: left;
	display: -webkit-inline-box;
	margin-top: 10px;
	margin-left: 2px;
}
#type_choice{
	text-align: justify;
}
#descr{
	clear: both;
	float: center;
	display: inline-block;
	margin-top: 10px;
}
#text_area{
	padding-top: 15px;
}
img
{
	width: 600px;
	height: 450px;

}

#footer
{
	color: white;
	margin-top: 59px;
}
