#nav
{
	background-color: #145E6B;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;

}

#headLinks > li > a 
{
color: white;
}

